<section class="py-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">
                Straya E-Book
            </h1>
            <p class="lead">About the life in Straya</p>
            <form action="/charge" method="POST">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{stripePublishableKey}}" data-amount="9050" data-name="Straya E-Book"
                    data-description="Testing Stripe App" data-image="/img/marketplace.png" data-locale="auto"
                    data-zip-code="true">
                    </script>
                <script>
                    // Hide default stripe button
                    document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
                </script>
                <button type="submit" class="btn btn-dark">Purchase For $90.50</button>
            </form>
        </div>
        <div class="col-md-6">
            <img src="/img/book.png" alt="" class="img-fluid">
        </div>
    </div>
</section>