<section class="py-5">
    <h1 class="display-3">
        Thank you
    </h1>
    <p class="lead">
        Your product should be sent to you within 1 business day
    </p>
    <a href="/" class="btn btn-dark">Go Back</a>
</section>